@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;

   --bg: 255 255 255;
   --foreground: 15 23 41;
   --primary: 39 39 42;
   --primary-foreground: 244 244 245;
   --secondary: 244 244 245;
   --secondary-foreground: 39 39 42;
   --accent: 243 244 246;
   --accent-foreground: 39 39 42;
   --border: 245 245 245;
   --input: 208 213 221;
   --muted: 241 245 249;
   --muted-foreground: 101 117 139;
   --popover: 255 255 255;
   --popover-foreground: 15 23 41;
   --card: 0 0% 100%;
   --card-foreground: 222.2 47.4% 11.2%;
}

@media (dark-mode: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

@layer base {
   body {
      @apply text-foreground bg-bg;
   }
}

.ProseMirror {
   @apply focus-within:outline-none focus-within:border-none;
}
